---
import Layout from "../layouts/Layout.astro";
---

<Layout title="buttons galore">
  <h1>buttons galore!</h1>
  my personal collection of 88x31 buttons (that you can contribute to), all in one place!
  <a href="https://github.com/ThinLiquid/buttons">github repo</a> &lt;-- YOU can add your own buttons by making a PR

  <div class="tooltip" style={{ position: 'absolute', background: 'var(--base)', zIndex: 69696969, padding: '5px', border: '2px dashed var(--surface0)', borderRadius: '5px' }}></div>

  <input type="text" id="search" placeholder="search for a button..." style={{ width: '100%' }} />

  <div style={{ display: 'flex' }}>
    <label for="categoriesSelect"></label>
    <select id="categoriesSelect" style={{ flex: 1 }}>
      <option>All Categories</option>
    </select>
    <label for="sortSelect"></label>
    <select id="sortSelect" style={{ flex: 1 }} value="alphabetical">
      <option value="alphabetical">Alphabetical</option>
      <option value="alphabetical-reverse">Alphabetical (Reverse)</option>
      <option value="order">Order</option>
      <option value="order-reverse">Order (Reverse)</option>
      <option value="random">Random</option>
    </select>
    <label for="creatorsSelect"></label>
    <select id="creatorsSelect" style={{ flex: 1 }}>
      <option>All Creators</option>
    </select>
  </div>

  <div class="buttons"></div>
</Layout>

<script>
  import eruda from 'eruda'
  eruda.init()

  const BUTTON_FILE = 'https://raw.githubusercontent.com/ThinLiquid/buttons/main/index.buttonfile';
  const BUTTON_DIRECTORY = 'https://raw.githubusercontent.com/ThinLiquid/buttons/main/img/';

  const search = document.querySelector<HTMLInputElement>('#search');
  const categoriesSelect = document.querySelector<HTMLSelectElement>('#categoriesSelect');
  const creatorsSelect = document.querySelector<HTMLSelectElement>('#creatorsSelect');
  const sortSelect = document.querySelector<HTMLSelectElement>('#sortSelect');
  const buttonsContainer = document.querySelector<HTMLDivElement>('.buttons');
  const tooltip = document.querySelector<HTMLDivElement>('.tooltip');

  if (!search || !categoriesSelect || !creatorsSelect || !sortSelect || !buttonsContainer || !tooltip) {
    console.error('One or more elements could not be found.');
  }

  const showTooltip = (button: any) => {
    if (!tooltip) return;
    tooltip.innerHTML = `
      <b>${button.description}</b> by ${button.creator}<br/>
      tags: ${button.tags}<br/>
      categories: ${button.categories}<br/>
    `;
    tooltip.style.opacity = '1';
    tooltip.style.position = 'absolute';
  };

  document.addEventListener('mousemove', (e) => {
    if (!tooltip) return;
    tooltip.style.top = `${e.pageY + 10}px`
    tooltip.style.left = `${e.pageX + 10}px`
  })

  const hideTooltip = () => {
    if (tooltip) tooltip.style.opacity = '0';
  };

  const fetchButtons = async () => {
    const res = await fetch(`${BUTTON_FILE}`, { cache: 'no-store' });
    const data = (await res.text()).trim();

    const categoriesSet = new Set<string>()
    const creatorsSet = new Set<string>()

    const entries = data.split('\n').map((entry, index) => {
      const [categories, tags, filename, description, creator] = entry.split(' | ');
      
      const categoryArray = categories?.split(',').filter(x => x != null) || [];
      categoryArray.forEach(category => categoriesSet.add(category));

      creatorsSet.add(creator || 'N/A')

      try {
        return {
          categories: categories?.split(',') || [],
          tags: tags?.split(' ') || [],
          filename,
          description,
          creator: creator || 'N/A'
        };
      } catch {
        console.error('Error: malformed content\n ->', JSON.stringify(entry), 'at line', index);
        return null;
      }
    }).filter(entry => entry !== null);

    categoriesSet.forEach(x => {
      const option = document.createElement('option')
      option.innerText = x
      categoriesSelect!.appendChild(option)
    })

    creatorsSet.forEach(x => {
      const option = document.createElement('option')
      option.innerText = x
      creatorsSelect!.appendChild(option)
    })

    return entries;
  };

  const renderButtons = (buttons: any[]) => {
    if (!buttonsContainer || !sortSelect) return;
    buttonsContainer.innerHTML = '';

    const sort = sortSelect.value
    console.log(sort)

    sortButtons(buttons, sort).forEach(button => {
      const buttonElement = document.createElement('img');
      buttonElement.src = `${BUTTON_DIRECTORY}${button.filename}`;
      buttonElement.alt = button.description;
      buttonElement.classList.add('button-img');
      buttonElement.width = 88
      buttonElement.height = 31
      buttonElement.dataset.categories = button.categories.join(',');
      buttonElement.dataset.tags = button.tags.join(' ');
      buttonElement.dataset.creator = button.creator;
      buttonElement.dataset.description = button.description.toLowerCase();

      buttonElement.addEventListener('mouseover', () => showTooltip(button));
      buttonElement.addEventListener('mouseout', hideTooltip);

      buttonsContainer.appendChild(buttonElement);
    });
  };

  let ogButtons: any[] = []
  const sortButtons = (buttons: any[], sortOption: string) => {
    console.log(buttons)
    switch (sortOption) {
      case 'alphabetical':
        return buttons.sort((a, b) => a.description.localeCompare(b.description));
      case 'alphabetical-reverse':
        return buttons.sort((a, b) => b.description.localeCompare(a.description));
      case 'order':
        return ogButtons; // Assuming the order is based on the original fetch order
      case 'order-reverse':
        return ogButtons.slice().reverse(); // Reverse the original order
      case 'random':
        return buttons.sort(() => Math.random() - 0.5);
      default:
        return buttons;
    }
  };


  const applyFilter = () => {
    if (!search || !categoriesSelect || !creatorsSelect) return;
    const searchValue = search.value.toLowerCase();
    const category = categoriesSelect.value;
    const creator = creatorsSelect.value;

    document.querySelectorAll<HTMLImageElement>('.button-img').forEach(button => {
      const buttonCategories = button.dataset.categories?.split(',') || [];
      const buttonTags = button.dataset.tags?.split(' ') || [];
      const buttonDescription = button.dataset.description || '';
      const buttonCreator = button.dataset.creator || '';

      const matches =
        (category === 'All Categories' || buttonCategories.includes(category)) &&
        (creator === 'All Creators' || buttonCreator === creator) &&
        (buttonDescription.includes(searchValue) || buttonTags.includes(searchValue));

      button.classList.toggle('dimmed', !matches);
    });
  };

  const init = async () => {
    const buttons = await fetchButtons();
    ogButtons = [...buttons]
    renderButtons(buttons);

    if (search) search.addEventListener('input', applyFilter);
    if (categoriesSelect) categoriesSelect.addEventListener('change', applyFilter);
    if (creatorsSelect) creatorsSelect.addEventListener('change', applyFilter);
    if (sortSelect) sortSelect.addEventListener('change', _ => renderButtons(buttons));
  };

  init();
</script>

<style>
  .buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
    margin-top: 10px;
    justify-content: center;

    img {
      transition: scale .2s var(--bounce), rotate .2s var(--bounce), opacity .2s, filter .2s;
      
      &.dimmed {
        opacity: 0.25;
        filter:saturate(0) blur(1px);
        pointer-events: none;
      }
      &:hover {
        z-index: 6969;
        scale: 1.5;
        backdrop-filter: blur(10px);

        &:nth-child(even) {
          rotate: 2deg;
        }

        &:nth-child(odd) {
          rotate: -2deg;
        }
      }
    }
  }
</style>
<style is:global>
  content .tooltip {
    visibility: hidden;
  }

  content:hover .tooltip {
    visibility: visible;
  }

  body, html {
    overflow-x: hidden;
  }
</style>
