---
interface Props {
  post: any;
}

const { post } = Astro.props
const date = new Date(post.frontmatter.pubDate)
const { frontmatter } = post
---

<div>
  <b>
    <a
      transition:name={date.toDateString()}
      href={post.url}
      data-tooltip={`
        <b>${frontmatter.title}</b><br/>
        ${frontmatter.description}
      `}
    >{frontmatter.title}</a>
  </b><br/>
  <b transition:name={date.toDateString() + 'date'}>{date.toDateString()}</b> • <span transition:name={date.toDateString() + 'desc'}>{frontmatter.description}</span>
</div>
<style>
  div {
    border-bottom: 1px solid var(--color-surface-0);
    width: 100%;
    padding: 16px;
  }
</style>